* {
    box-sizing: border-box;
    font-family: Verdana;
}

html {
    width: 100%;
    height: 100%;
    font-size: 10px;
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-weight: normal;
    font-size: 5rem;
    color: white;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 1.6rem;
}

h2 {
    font-weight: 300;
    font-size: 4.2rem;
}

p {
    font-size: 2.1rem;
    color: gray;
}

.copyrights {
   text-align: right; 
}